/* ePub base r2.0 ePubLibre - style.css*/

/*ESTILO DE PÁRRAFO POR DEFECTO
Edite y habilite o deshabilite un estilo por defecto para el libro, o cree su propio estilo de párrafo personalizado que se adapte al mismo. Recuerde que afectará a todo el contenido, exceptuando las páginas que no enlacen este css (como las fijas). Tambien puede crear uno propio que se ajuste a sus necesidades. OJO: NO SE DEBE ASIGNAR UN TAMAÑO DE FUENTE POR DEFECTO PARA <p>, deje que el lector escoja el que le sea más comodo para la lectura. */

/* El estilo por defecto es el de párrafo normal, apto para novelas, relatos, ensayos, etc.*/
/*
p {
    margin: 0;
    text-align: justify;
    text-indent: 1.5em;
}
*/
/* Estilo de párrafo aleman o moderno. Apto para obras como manuales, obras de referencia, obras científicas o técnicas, etc.*/

p { 
    margin: 1em 0; 
    text-align:justify; 
    text-indent:0;
}


/* ESTILOS GENERALES. PUEDE ADAPTARLOS O ELIMINARLOS SI NO LOS USA*/

/* encabezados */

h1 { 
    font-size: 1.8em; 
    margin: 20% 0 2em; 
}

h2, h3 {
    margin: 2em 0 1em;
}

h2 { font-size: 1.4em; }
h3 { font-size: 1.3em; }

/* dedicatoria */
.dedicatoria {
    margin: 25% 3% 0 15%;
    text-align: right;
}

.dedicatoria p {
    text-align: right;
    text-indent: 0;
}

/* saltos */

.salto05 { padding-top: 0.5em; }
.salto10 { padding-top: 1em; }
.salto25 { padding-top: 2.5em; }


hr {
    height: 2.5em;
} 
/* El valor por defecto de <hr/> ahora es un espacio en blanco  para marcar saltos de contexto. Cambie la altura del mismo a su conveniencia  modificando el atributo height */ 


/* imágenes simples */  

.ilustra {
    margin: 1em 0;
    text-align: center;
    text-indent: 0;
    display: block;
}

/* Control de silabeo. Asegurese de agregar cualquier estilo que no quiera que el e-reader divida con guiones, como los subtítulos, versos, etc. */

.dedicatoria {
    adobe-hyphenate: none;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    -epub-hyphens: none;
    hyphens: none;
}

.salto10 { padding-top:1em; }


/* ----- ESTILOS PERSONALES ----- */

/* ----------------- \o/ \o/ \o/ \o/ \o/ \o/ \o/ ----------------- */
/*                                                                 */
/*                                                                 */
/*           Los estilos que aparecen a continuación se            */
/*      han definido para dar formato a este manual. En muchos     */
/*       casos se corresponden con las explicaciones dadas         */
/*     en los distintos apartados que lo componen, pero en otros   */
/*       se han tenido que modificar para ser adaptados a las      */
/*          características del entorno donde se aplican.          */
/*                                                                 */
/*         Por ello, se recomienda la lectura del apartado         */
/*       correspondiente antes de copiar cualquiera de estos       */
/*        estilos para ser usado fuera del propio manual.          */
/*                                                                 */
/*                                                                 */
/* ----------------- \o/ \o/ \o/ \o/ \o/ \o/ \o/ ----------------- */


/* ----- Encabezados especiales ----- */

.seccion { text-align:left; margin-top: 2em;  margin-bottom: 1em; text-indent:0; font-size:1.2em; border-bottom:2px solid black; font-weight:normal; }

.subseccion { text-align:left; margin-top: 1em;  margin-bottom: 0.5em; text-indent:0; font-size:1.1em; border-bottom:1px solid grey; font-weight:normal; }

/* .epigrafe { font-size:1.1em; font-weight:bold; padding-top:1em; margin-bottom:0.5em; text-indent:0; }*/

/* ----- Avisos y advertencias ----- */

.aviso { margin:1.5em 12%; padding:1em; text-align:center; border:2px ridge red; color:red; font-weight:bold; border-width:5px; text-indent:0; }
    .aviso img { vertical-align:middle; margin-right:2%; width:22% }
    .aviso p {color:red; }

.regla { margin:1em 12%; padding:0.5em; text-indent:0; text-align:center; border:1px solid grey; color:black; font-weight:normal; border-width:3px; }
   .regla p { text-align:center; }

/* ----- Códigos y ejemplos ----- */

.ejcodigo{ overflow:auto; text-align:left; margin:1.5em; padding:0.5em; border-top: 2px solid blue; border-left: 2px solid blue; font-family:"CourierBT", CourierBT; font-size:0.8em; text-indent:0; }

.ejcodigo p { text-align:left; text-indent:0; margin-bottom:-1em; margin:0; }

.ejpantalla{ overflow:auto; margin:1.5em; padding:0.5em; border-top: 3px double grey; border-left: 3px double grey; }

.ejemplo { color: green; font-size:0.85em; }

/* ----- Márgenes ----- */

.cita { padding:1.5em; }

.margizq07 { margin-left:.75em; }

.margizq15 { margin-left:1.5em; }

.margizq23 { margin-left:2.3em; } /*para indentado de código*/

.margizq30 { margin-left: 3em; }

/* ----- ESCALAR IMG ----- */

.imagenesc { display:inline-block; margin:1em 0; text-indent:0; }
   .imagenesc img { width:100%; }

.escalar { display:inline-block; width:.55em; max-width:100%; text-indent:0; vertical-align:-.1em; }
    .escalar img { width:100%; }

.escalarsvg { width: 10em; max-width:100%; }

/* ----- PIE DE FOTO INFERIOR ----- */

.imagen50 { text-align:center; text-indent:0; display:block; }
   .imagen50 img { width:50%; }


/* ----- Listas ----- */
.nolist { list-style:none; display:block; }

.faq { text-indent:0; }

ol.faq li { margin-left:3em; }

ol.faq li.nolist { margin-left:-2em; }

.olletra {list-style-type: lower-latin; }

/* ----- Listas anidadas ----- */ /*--Modificado espaciado para evitar uso de salto05 en el 1º nivel ul y ol + li--*/

ul { list-style-type:disc; margin-top:0.5em; }

ul ul { list-style-type:square; }

ul ul ul { list-style-type:circle; }

ol { margin-top:0.5em; }

li { margin-bottom:1em; }


/* ----- Fuentes ----- */

@font-face { font-family:"CourierBT"; font-style:normal; font-weight:normal; src:url(../Fonts/CourierBT.ttf) }

/* ----- Colores ----- */

.hr { color: #800000; } /* marrón */
.hb { color: #0000ff; } /* azul  */
.hp { color: #6F3198; } /* púrpura */
.hd { color: #ff0000; } /* rojo  */
.hg { color: #008000; } /* verde */
.ho { color: #808000; } /* verde oliva  */

/* --- Tablas --- */
table { border-collapse: collapse; }

table.padd td { padding:0.1em 0.4em; }

.tabcentro { display: inline-table; }

/* SVG en línea */
.centsvglin { margin:1em 0; text-align:center; text-indent:0; display:block; }
.escsvglin { max-width:100%; max-height:11.5em; width:18em; border:1px solid; }
